html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    color: black;
    display: flex;
    flex-direction: column;
    transition: opacity .25s ease-in;
    opacity: 0;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

a {
    font-weight: bold;
    color: blue;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

footer {
    width: 50%;
    margin: 5px auto;
    text-align: center;
}

footer > p {
    font-size: small;
}

ul {
    margin: 2.25rem 0;
    padding: 0;
}

li {
    display: inline;
    margin: 0.5rem;
}

button {
    all: unset;
    font-weight: bold;
}

#main-content {
    display: flex;
    width: 66%;
    margin: 0 auto;
}

#portrait {
    object-fit: cover;
    object-position: 20% 20%;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    overflow-clip-margin: unset;
}

.container {
    margin: 1rem;
}

.glowing-button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: -4px 0;
    border: none;
    outline: none;
    color: white;
    background: black;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.glowing-button:before {
    content: "";
    background: linear-gradient(45deg,
            #009fff,
            #ec2f4b,
            #009fff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(3px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-animation 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-animation {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.social-link {
    text-decoration: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
}

@media (max-width: 1200px) {
    #main-content {
        display: block;
        text-align: center;
    }

    ul>li {
        display: block;
        margin: 2rem 0;
    }
}