html {
  scroll-behavior: smooth;
}

.body--dark {
  font-family: 'Helvetica', sans-serif;
  color: $light;
  background-color: $dark;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
