html {
  scroll-behavior: smooth;
  background: $dark;
}

.body--dark {
  font-family: "Open Sans";
  color: $light;
  background-color: $dark;
}

.body--light {
  font-family: "Open Sans";
  color: $dark;
  background-color: $light;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
