.intro {
  position: relative;

  &__photo {
    display: block;
    width: 30rem;
    height: 10rem;
    object-fit: cover;
    object-position: 100% 30%;

    @mixin atSmall {
      object-fit: cover;
      height: auto;
    }
  }

  &__text {
    text-align: center;

    @mixin atSmall {
      text-align: left;
    }
  }
}
