.intro {
  position: relative;
  background-color: #3d3d3d;

  &__text {
    text-align: center;
    margin: 1.25rem 0;

    @mixin atSmall {
      margin: 0 0;
      text-align: left;
    }
  }

  &__title {
    font-size: 5rem;
    margin: 0;

    @mixin atSmall {
      font-size: 7rem;
      margin: 0;
    }
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;

    @mixin atSmall {
      font-size: 3rem;
      margin: 0;
    }
  }

  &__blurb {
    font-size: 1.25rem;
    font-weight: 300;
    margin: 1.25rem 0;
  }

  &__photo {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: 100% 30%;

    @mixin atSmall {
      position: relative;
      object-fit: cover;
      height: 20rem;
      object-position: 100% 50%;
    }
  }

  &__links-label {
    display: block;
    margin-bottom: .25rem;
  }
}
