.list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  &__item {
    padding-left: 1em;
    text-indent: -1em;
    margin: 0.25rem 0;
  }

  &__item::before {
    font-family: monospace;
    content: ">";
    padding-right: 5px;
  }
}
