.row {
  @mixin clearfix;

  &--gutters {
    margin-right: -30px;
  }

  &--gutters > div {
    padding-right: 30px;
  }

  @mixin atSmall {
    &__small-4 {
      float: left;
      width: 33.33%;
    }

    &__small-6 {
      float: left;
      width: 50%;
    }

    &__small-8 {
      float: left;
      width: 66.66%;
    }
  }
}
